USE [master]
GO
/****** Object:  Database [Seminraski-Softveri]    Script Date: 20-Aug-26 21:07:22 ******/
CREATE DATABASE [Seminraski-Softveri]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Seminraski-Softveri', FILENAME = N'C:\Users\veksinho\Seminraski-Softveri.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Seminraski-Softveri_log', FILENAME = N'C:\Users\veksinho\Seminraski-Softveri_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Seminraski-Softveri].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Seminraski-Softveri]
GO
/****** Object:  Table [dbo].[BrKd]    Script Date: 20-Aug-26 21:07:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BrKd](
	[idBroker] [int] NOT NULL,
	[idKategorijaDogadjaja] [int] NOT NULL,
	[datumSpecijalizacije] [date] NOT NULL,
 CONSTRAINT [PK_BrKd] PRIMARY KEY CLUSTERED 
(
	[idBroker] ASC,
	[idKategorijaDogadjaja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Broker]    Script Date: 20-Aug-26 21:07:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Broker](
	[idBroker] [int] IDENTITY(1,1) NOT NULL,
	[korisnickoIme] [nvarchar](50) NOT NULL,
	[sifra] [nvarchar](100) NOT NULL,
	[ime] [nvarchar](50) NOT NULL,
	[prezime] [nvarchar](50) NOT NULL,
	[telefon] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Broker] PRIMARY KEY CLUSTERED 
(
	[idBroker] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dogadjaj]    Script Date: 20-Aug-26 21:07:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dogadjaj](
	[idDogadjaj] [int] IDENTITY(1,1) NOT NULL,
	[naziv] [nvarchar](150) NOT NULL,
	[datumOdrzavanja] [datetime2](7) NOT NULL,
	[mesto] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Dogadjaj] PRIMARY KEY CLUSTERED 
(
	[idDogadjaj] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FizickoLice]    Script Date: 20-Aug-26 21:07:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FizickoLice](
	[idKonsignator] [int] NOT NULL,
	[jmbg] [nvarchar](13) NOT NULL,
	[ime] [nvarchar](50) NOT NULL,
	[prezime] [nvarchar](50) NOT NULL,
	[brojLicneKarte] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_FizickoLice] PRIMARY KEY CLUSTERED 
(
	[idKonsignator] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Karta]    Script Date: 20-Aug-26 21:07:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Karta](
	[idKarta] [int] IDENTITY(1,1) NOT NULL,
	[sektor] [nvarchar](50) NOT NULL,
	[red] [nvarchar](10) NOT NULL,
	[sediste] [nvarchar](10) NOT NULL,
	[nominalnaCena] [decimal](10, 2) NOT NULL,
	[tip] [nvarchar](20) NOT NULL,
	[format] [nvarchar](20) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[idListing] [int] NULL,
	[idKonsignator] [int] NOT NULL,
	[idDogadjaj] [int] NOT NULL,
 CONSTRAINT [PK_Karta] PRIMARY KEY CLUSTERED 
(
	[idKarta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KategorijaDogadjaja]    Script Date: 20-Aug-26 21:07:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KategorijaDogadjaja](
	[idKategorijaDogadjaja] [int] IDENTITY(1,1) NOT NULL,
	[naziv] [nvarchar](100) NOT NULL,
	[opis] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_KategorijaDogadjaja] PRIMARY KEY CLUSTERED 
(
	[idKategorijaDogadjaja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Konsignator]    Script Date: 20-Aug-26 21:07:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Konsignator](
	[idKonsignator] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[telefon] [nvarchar](30) NOT NULL,
	[adresa] [nvarchar](200) NOT NULL,
	[datumRegistracije] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Konsignator] PRIMARY KEY CLUSTERED 
(
	[idKonsignator] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Listing]    Script Date: 20-Aug-26 21:07:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Listing](
	[idListing] [int] IDENTITY(1,1) NOT NULL,
	[datumObjave] [datetime2](7) NOT NULL,
	[datumIsteka] [datetime2](7) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[cenaPoKarti] [decimal](10, 2) NOT NULL,
	[split] [nvarchar](20) NOT NULL,
	[minKolicina] [int] NOT NULL,
	[procenatProvizije] [decimal](5, 2) NOT NULL,
	[napomena] [nvarchar](1000) NULL,
	[idBroker] [int] NOT NULL,
	[idKonsignator] [int] NOT NULL,
 CONSTRAINT [PK_Listing] PRIMARY KEY CLUSTERED 
(
	[idListing] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PravnoLice]    Script Date: 20-Aug-26 21:07:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PravnoLice](
	[idKonsignator] [int] NOT NULL,
	[pib] [nvarchar](9) NOT NULL,
	[maticniBroj] [nvarchar](8) NOT NULL,
	[naziv] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_PravnoLice] PRIMARY KEY CLUSTERED 
(
	[idKonsignator] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Broker] ON 

INSERT [dbo].[Broker] ([idBroker], [korisnickoIme], [sifra], [ime], [prezime], [telefon]) VALUES (1, N'vtonic', N'Sifra#2026', N'Veljko', N'Tonić', N'0641234567')
SET IDENTITY_INSERT [dbo].[Broker] OFF
GO
SET IDENTITY_INSERT [dbo].[Dogadjaj] ON 

INSERT [dbo].[Dogadjaj] ([idDogadjaj], [naziv], [datumOdrzavanja], [mesto]) VALUES (1, N'Koncert - Ekvinocijo Tribute Show', CAST(N'2026-11-15T20:00:00.0000000' AS DateTime2), N'Kombank Arena, Beograd')
INSERT [dbo].[Dogadjaj] ([idDogadjaj], [naziv], [datumOdrzavanja], [mesto]) VALUES (2, N'FK Partizan - FK Crvena zvezda', CAST(N'2026-10-03T18:00:00.0000000' AS DateTime2), N'Stadion Partizana, Beograd')
INSERT [dbo].[Dogadjaj] ([idDogadjaj], [naziv], [datumOdrzavanja], [mesto]) VALUES (3, N'Hamlet - Narodno pozorište', CAST(N'2026-12-05T19:30:00.0000000' AS DateTime2), N'Narodno pozorište, Beograd')
SET IDENTITY_INSERT [dbo].[Dogadjaj] OFF
GO
INSERT [dbo].[FizickoLice] ([idKonsignator], [jmbg], [ime], [prezime], [brojLicneKarte]) VALUES (1, N'0101990710025', N'Marko', N'Marković', N'012345678')
GO
SET IDENTITY_INSERT [dbo].[Karta] ON 

INSERT [dbo].[Karta] ([idKarta], [sektor], [red], [sediste], [nominalnaCena], [tip], [format], [status], [idListing], [idKonsignator], [idDogadjaj]) VALUES (1, N'Sever', N'A', N'12', CAST(4500.00 AS Decimal(10, 2)), N'sedeca', N'pdf', N'u_inventaru', NULL, 1, 1)
INSERT [dbo].[Karta] ([idKarta], [sektor], [red], [sediste], [nominalnaCena], [tip], [format], [status], [idListing], [idKonsignator], [idDogadjaj]) VALUES (2, N'Sever', N'A', N'13', CAST(4500.00 AS Decimal(10, 2)), N'sedeca', N'pdf', N'u_inventaru', NULL, 1, 1)
INSERT [dbo].[Karta] ([idKarta], [sektor], [red], [sediste], [nominalnaCena], [tip], [format], [status], [idListing], [idKonsignator], [idDogadjaj]) VALUES (3, N'Parter', N'-', N'-', CAST(3000.00 AS Decimal(10, 2)), N'stajaca', N'mobilna', N'u_inventaru', NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[Karta] OFF
GO
SET IDENTITY_INSERT [dbo].[KategorijaDogadjaja] ON 

INSERT [dbo].[KategorijaDogadjaja] ([idKategorijaDogadjaja], [naziv], [opis]) VALUES (1, N'Koncert', N'Muzički koncerti i nastupi izvođača')
INSERT [dbo].[KategorijaDogadjaja] ([idKategorijaDogadjaja], [naziv], [opis]) VALUES (2, N'Sportski događaj', N'Utakmice i sportska takmičenja')
INSERT [dbo].[KategorijaDogadjaja] ([idKategorijaDogadjaja], [naziv], [opis]) VALUES (3, N'Pozorišna predstava', N'Pozorišne i scenske predstave')
SET IDENTITY_INSERT [dbo].[KategorijaDogadjaja] OFF
GO
SET IDENTITY_INSERT [dbo].[Konsignator] ON 

INSERT [dbo].[Konsignator] ([idKonsignator], [email], [telefon], [adresa], [datumRegistracije]) VALUES (1, N'marko.markovic@gmail.com', N'0641112233', N'Bulevar Kralja Aleksandra 15, Beograd', CAST(N'2026-01-10T09:00:00.0000000' AS DateTime2))
INSERT [dbo].[Konsignator] ([idKonsignator], [email], [telefon], [adresa], [datumRegistracije]) VALUES (2, N'office@eventtix.rs', N'0113456789', N'Kneza Miloša 44, Beograd', CAST(N'2026-02-20T11:30:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Konsignator] OFF
GO
INSERT [dbo].[PravnoLice] ([idKonsignator], [pib], [maticniBroj], [naziv]) VALUES (2, N'109876543', N'20654321', N'EventTix DOO Beograd')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Broker_korisnickoIme]    Script Date: 20-Aug-26 21:07:22 ******/
ALTER TABLE [dbo].[Broker] ADD  CONSTRAINT [UQ_Broker_korisnickoIme] UNIQUE NONCLUSTERED 
(
	[korisnickoIme] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BrKd]  WITH CHECK ADD  CONSTRAINT [FK_BrKd_Broker] FOREIGN KEY([idBroker])
REFERENCES [dbo].[Broker] ([idBroker])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BrKd] CHECK CONSTRAINT [FK_BrKd_Broker]
GO
ALTER TABLE [dbo].[BrKd]  WITH CHECK ADD  CONSTRAINT [FK_BrKd_KategorijaDogadjaja] FOREIGN KEY([idKategorijaDogadjaja])
REFERENCES [dbo].[KategorijaDogadjaja] ([idKategorijaDogadjaja])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BrKd] CHECK CONSTRAINT [FK_BrKd_KategorijaDogadjaja]
GO
ALTER TABLE [dbo].[FizickoLice]  WITH CHECK ADD  CONSTRAINT [FK_FizickoLice_Konsignator] FOREIGN KEY([idKonsignator])
REFERENCES [dbo].[Konsignator] ([idKonsignator])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[FizickoLice] CHECK CONSTRAINT [FK_FizickoLice_Konsignator]
GO
ALTER TABLE [dbo].[Karta]  WITH CHECK ADD  CONSTRAINT [FK_Karta_Dogadjaj] FOREIGN KEY([idDogadjaj])
REFERENCES [dbo].[Dogadjaj] ([idDogadjaj])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Karta] CHECK CONSTRAINT [FK_Karta_Dogadjaj]
GO
ALTER TABLE [dbo].[Karta]  WITH CHECK ADD  CONSTRAINT [FK_Karta_Konsignator] FOREIGN KEY([idKonsignator])
REFERENCES [dbo].[Konsignator] ([idKonsignator])
GO
ALTER TABLE [dbo].[Karta] CHECK CONSTRAINT [FK_Karta_Konsignator]
GO
ALTER TABLE [dbo].[Karta]  WITH CHECK ADD  CONSTRAINT [FK_Karta_Listing] FOREIGN KEY([idListing])
REFERENCES [dbo].[Listing] ([idListing])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Karta] CHECK CONSTRAINT [FK_Karta_Listing]
GO
ALTER TABLE [dbo].[Listing]  WITH CHECK ADD  CONSTRAINT [FK_Listing_Broker] FOREIGN KEY([idBroker])
REFERENCES [dbo].[Broker] ([idBroker])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Listing] CHECK CONSTRAINT [FK_Listing_Broker]
GO
ALTER TABLE [dbo].[Listing]  WITH CHECK ADD  CONSTRAINT [FK_Listing_Konsignator] FOREIGN KEY([idKonsignator])
REFERENCES [dbo].[Konsignator] ([idKonsignator])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Listing] CHECK CONSTRAINT [FK_Listing_Konsignator]
GO
ALTER TABLE [dbo].[PravnoLice]  WITH CHECK ADD  CONSTRAINT [FK_PravnoLice_Konsignator] FOREIGN KEY([idKonsignator])
REFERENCES [dbo].[Konsignator] ([idKonsignator])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PravnoLice] CHECK CONSTRAINT [FK_PravnoLice_Konsignator]
GO
ALTER TABLE [dbo].[BrKd]  WITH CHECK ADD  CONSTRAINT [CK_BrKd_idBroker] CHECK  (([idBroker]>(0)))
GO
ALTER TABLE [dbo].[BrKd] CHECK CONSTRAINT [CK_BrKd_idBroker]
GO
ALTER TABLE [dbo].[BrKd]  WITH CHECK ADD  CONSTRAINT [CK_BrKd_idKatDog] CHECK  (([idKategorijaDogadjaja]>(0)))
GO
ALTER TABLE [dbo].[BrKd] CHECK CONSTRAINT [CK_BrKd_idKatDog]
GO
ALTER TABLE [dbo].[Broker]  WITH CHECK ADD  CONSTRAINT [CK_Broker_idBroker] CHECK  (([idBroker]>(0)))
GO
ALTER TABLE [dbo].[Broker] CHECK CONSTRAINT [CK_Broker_idBroker]
GO
ALTER TABLE [dbo].[Dogadjaj]  WITH CHECK ADD  CONSTRAINT [CK_Dogadjaj_idDogadjaj] CHECK  (([idDogadjaj]>(0)))
GO
ALTER TABLE [dbo].[Dogadjaj] CHECK CONSTRAINT [CK_Dogadjaj_idDogadjaj]
GO
ALTER TABLE [dbo].[FizickoLice]  WITH CHECK ADD  CONSTRAINT [CK_FizickoLice_id] CHECK  (([idKonsignator]>(0)))
GO
ALTER TABLE [dbo].[FizickoLice] CHECK CONSTRAINT [CK_FizickoLice_id]
GO
ALTER TABLE [dbo].[Karta]  WITH CHECK ADD  CONSTRAINT [CK_Karta_format] CHECK  (([format]=N'rfid' OR [format]=N'mobilna' OR [format]=N'pdf' OR [format]=N'papirna'))
GO
ALTER TABLE [dbo].[Karta] CHECK CONSTRAINT [CK_Karta_format]
GO
ALTER TABLE [dbo].[Karta]  WITH CHECK ADD  CONSTRAINT [CK_Karta_id] CHECK  (([idKarta]>(0)))
GO
ALTER TABLE [dbo].[Karta] CHECK CONSTRAINT [CK_Karta_id]
GO
ALTER TABLE [dbo].[Karta]  WITH CHECK ADD  CONSTRAINT [CK_Karta_nominalnaCena] CHECK  (([nominalnaCena]>=(0)))
GO
ALTER TABLE [dbo].[Karta] CHECK CONSTRAINT [CK_Karta_nominalnaCena]
GO
ALTER TABLE [dbo].[Karta]  WITH CHECK ADD  CONSTRAINT [CK_Karta_status] CHECK  (([status]=N'povucena' OR [status]=N'prodata' OR [status]=N'plasirana' OR [status]=N'u_inventaru'))
GO
ALTER TABLE [dbo].[Karta] CHECK CONSTRAINT [CK_Karta_status]
GO
ALTER TABLE [dbo].[Karta]  WITH CHECK ADD  CONSTRAINT [CK_Karta_tip] CHECK  (([tip]=N'sky_box' OR [tip]=N'vip' OR [tip]=N'sedeca' OR [tip]=N'stajaca'))
GO
ALTER TABLE [dbo].[Karta] CHECK CONSTRAINT [CK_Karta_tip]
GO
ALTER TABLE [dbo].[KategorijaDogadjaja]  WITH CHECK ADD  CONSTRAINT [CK_KategorijaDogadjaja_id] CHECK  (([idKategorijaDogadjaja]>(0)))
GO
ALTER TABLE [dbo].[KategorijaDogadjaja] CHECK CONSTRAINT [CK_KategorijaDogadjaja_id]
GO
ALTER TABLE [dbo].[Konsignator]  WITH CHECK ADD  CONSTRAINT [CK_Konsignator_email] CHECK  (([email] like N'%@%'))
GO
ALTER TABLE [dbo].[Konsignator] CHECK CONSTRAINT [CK_Konsignator_email]
GO
ALTER TABLE [dbo].[Konsignator]  WITH CHECK ADD  CONSTRAINT [CK_Konsignator_id] CHECK  (([idKonsignator]>(0)))
GO
ALTER TABLE [dbo].[Konsignator] CHECK CONSTRAINT [CK_Konsignator_id]
GO
ALTER TABLE [dbo].[Listing]  WITH CHECK ADD  CONSTRAINT [CK_Listing_cenaPoKarti] CHECK  (([cenaPoKarti]>=(0)))
GO
ALTER TABLE [dbo].[Listing] CHECK CONSTRAINT [CK_Listing_cenaPoKarti]
GO
ALTER TABLE [dbo].[Listing]  WITH CHECK ADD  CONSTRAINT [CK_Listing_datumIsteka] CHECK  (([datumIsteka]>[datumObjave]))
GO
ALTER TABLE [dbo].[Listing] CHECK CONSTRAINT [CK_Listing_datumIsteka]
GO
ALTER TABLE [dbo].[Listing]  WITH CHECK ADD  CONSTRAINT [CK_Listing_id] CHECK  (([idListing]>(0)))
GO
ALTER TABLE [dbo].[Listing] CHECK CONSTRAINT [CK_Listing_id]
GO
ALTER TABLE [dbo].[Listing]  WITH CHECK ADD  CONSTRAINT [CK_Listing_minKolicina] CHECK  (([minKolicina]>(0)))
GO
ALTER TABLE [dbo].[Listing] CHECK CONSTRAINT [CK_Listing_minKolicina]
GO
ALTER TABLE [dbo].[Listing]  WITH CHECK ADD  CONSTRAINT [CK_Listing_procenatProvizije] CHECK  (([procenatProvizije]>=(0) AND [procenatProvizije]<=(100)))
GO
ALTER TABLE [dbo].[Listing] CHECK CONSTRAINT [CK_Listing_procenatProvizije]
GO
ALTER TABLE [dbo].[Listing]  WITH CHECK ADD  CONSTRAINT [CK_Listing_split] CHECK  (([split]=N'izbegni_usamljenu' OR [split]=N'min_kolicina' OR [split]=N'parne_kolicine' OR [split]=N'bilo_koja_kolicina' OR [split]=N'bez_splita'))
GO
ALTER TABLE [dbo].[Listing] CHECK CONSTRAINT [CK_Listing_split]
GO
ALTER TABLE [dbo].[Listing]  WITH CHECK ADD  CONSTRAINT [CK_Listing_status] CHECK  (([status]=N'realizovan' OR [status]=N'povucen' OR [status]=N'objavljen' OR [status]=N'nacrt'))
GO
ALTER TABLE [dbo].[Listing] CHECK CONSTRAINT [CK_Listing_status]
GO
ALTER TABLE [dbo].[PravnoLice]  WITH CHECK ADD  CONSTRAINT [CK_PravnoLice_id] CHECK  (([idKonsignator]>(0)))
GO
ALTER TABLE [dbo].[PravnoLice] CHECK CONSTRAINT [CK_PravnoLice_id]
GO
USE [master]
GO
